<h2>Countries List</h2>

<a href="/admin/add-country">Add Country</a>

<br>
<br>

<div class="container-fluid">
    {{!-- <h4>List of Countries:</h4> --}}
    <div class='row'>
        <div class="col-12">
            <ul class="list-group">
                {{#each countryList}} {{#if ../theUser.isAdmin}}
                <li class="list-group-item marker">
                    {{this.name}}
                    <p> {{this.description}}</p>
                    <p>{{this.value}}</p>
                     <p>{{this.language}}</p>
                     <p>{{this.currency}}</p>
                     <p>{{this.pictureUrl}}</p>
                     <p>{{this.videos}}</p>
                    
                    <button>
                        <a href="/admin/country-list/{{this._id}}/change">Update</a>
                    </button>
                    
                    <button>
                        <a href="/admin/country-list/{{this._id}}/delete">Delete</a>
                    </button>
                </li>
                 {{/if}} {{/each}}
            </ul>
        </div>
</div>
