<h2>User List</h2>

<div class="admin-users">
<ul class="list-group list">
  {{#each userList}}
  <li class="list-group-item">
    {{#if ../theUser.isAdmin }}
    <h3 class="rec-name"><i>{{this.username}}</i></h3>
    <ul class="users-li">
      <li class="rec-type"><strong>Email:</strong> {{this.email}} </li>
      <li class="rec-type"><strong>Role:</strong> {{this.role}} </li>
    </ul>
    {{#if this.isntAdmin}}
    <button class="btn btn-danger float-right btn-admin">
      <a href="/admin/users/{{this._id}}/delete">Remove User</a>
    </button>
    <button class="btn btn-warning float-right btn-admin">
      <a href="/admin/users/{{this._id}}/makeadmin" >Make Admin</a>
    </button>
    {{else}}
    <button class="btn btn-warning float-right btn-admin">
      <a href="/admin/users/{{this._id}}/unmakeadmin" >Make User</a>
    </button>
    {{/if}} 
    {{/if}}
  </li>
  {{/each}}
</ul>
</div>