<!DOCTYPE html>
<html>


<head>
  <title>{{title}}</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4"
    crossorigin="anonymous">
  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
  <header>
    <nav>
      <ul class="nav justify-content-center">
        <li class="nav-item">
          <a href="/" class="nav-link">Home</a>
        </li>
        <li class="nav-item">

          <div class="dropdown show">
          <a class="nav-link" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Get Started</a>
          <div class="dropdown-menu">
            <a href="/get-started/lanVideos" class="dropdown-item">Video</a> 
            <a href="/get-started/adminOffices" class="dropdown-item">Administrative Offices</a> 
            <a href="/get-started/medicalInfo" class="dropdown-item">Medical Info</a>
          </div>
          </div>

        </li>
        <li class="nav-item">
           <div class="dropdown show">
          <a class="nav-link" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Culture</a>
          <div class="dropdown-menu">
            <a href="/culture/food" class="dropdown-item">Food Map</a>
          </div>
          </div>
        </li>
        <li class="nav-item">
          <div class="dropdown show">
          <a class="nav-link" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Get around</a>
          <div class="dropdown-menu">
            <a href="/how-to-get-around/transport" class="dropdown-item"> City Transportation</a>
          </div>
          </div>
        </li>
        <li class="nav-item">
          <div class="float-right nav-link">
            Country: {{theUser.prefered_country}}
          </div>
        </li>
      </ul>
    </nav>
    <div class="drop-login">
    {{#if theUser.isAdmin}}
    <div class="btn-group float-right drop-login-one">
      <button type="button" class="btn btn-info">
        Admin
      </button>
      <button type="button" class="btn btn-info dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" aria-haspopup="true"
        aria-expanded="false">
        <span class="sr-only">Toggle Dropdown</span>
      </button>
      <div class="dropdown-menu">
        <a href="/admin/user-list" class="dropdown-item">User list</a>
        <a href="/admin/add-country" class="dropdown-item">Add country</a>
      </div>
    </div>
    {{/if}}
    {{#if theUser}}
    <div class="btn-group float-right drop-login-one">
      <button type="button" class="btn btn-info dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Your Account
      </button>
      <div class="dropdown-menu">
        <a href="/auth/change-country" class="dropdown-item">Change country</a>
        <a href="/auth/account-details" class="dropdown-item">See your profile</a>
        <div class="dropdown-divider"></div>
        <a href="/auth/logout" class="dropdown-item">Log out</a>
      </div>
    </div>
    
    </div>
    {{else}}
    <div class="float-right btns-login">
      <button class="btn btn-success">
        <a href="/auth/login">Log in</a>
      </button>
      <button class="btn btn-warning">
        <a href="/auth/signup">Sign Up</a>
      </button>
    </div>
    {{/if}}
    
  </header>
  <div class="cloud">
    {{{body}}}
  </div>
  <script src="https://unpkg.com/tooltip.js/dist/umd/tooltip.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  <script src="https://maps.googleapis.com/maps/api/js?libraries=places&key={{mapKey}}"></script>
  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
  <script src='/javascripts/script.js'></script>
  <script src='/javascripts/med-map.js'></script>
  <script src='/javascripts/transportation.js'></script>
</body>

</html>




        
        
