

<div class="container-fluid">
    <h4>List of medical recommandation:</h4>
    <br>
    <button type="button" class="btn btn-outline-secondary recommend">
    <a href="/get-started/medicalInfo/add">Recommend Medical Place</a></button>
    <br>
    <br>
    
    <div class='row'>
        <div class="col-5">
            <ul class="list-group">
                {{#each medics}} {{#if ../theUser.isAdmin}}
                <li class="list-group-item marker lii-{{this._id}}">
                    <h4 class="rec-name"> {{this.name}}</h4>
                    <h6 class="rec-type"> {{this.type}}</h6>
                    <p class="rec-des"> {{this.description}}</p>
                    {{#if this.InActive}}
                    <button class="btn btn-success btn-admin btn-sm">
                        <a href="/get-started/medicalInfo/{{this._id}}/accept">Accept</a>
                    </button>
                    {{/if}}
                    <button class="btn btn-danger btn-admin btn-sm">
                        <a href="/get-started/medicalInfo/{{this._id}}/delete">Delete</a>
                    </button>
                </li>
                {{else}} {{#if this.Active}}
                <li class="list-group-item">
                    <p> {{this.name}}</p>
                    <p> {{this.type}}</p>
                    <p> {{this.description}}</p>
                </li>
                {{/if}} {{/if}} {{/each}}
            </ul>
        </div>
        <div class = "medmap col-7"></div>
    </div>
</div>

